# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# gitignore 的写法说明：
# # 表示注释
# * 表示全部


# /ReadCode/Classes
# /ReadCode/cocos2d
# /ReadCode/cocos2d/build
# /ReadCode/cocos2d/cmake
# /ReadCode/cocos2d/cocos
/ReadCode/cocos2d/cocos/Debug.win32
/ReadCode/cocos2d/cocos/libcocos2d_8_1
/ReadCode/cocos2d/cocos/libcocos2d_win10
/ReadCode/cocos2d/cocos/win10_props
/ReadCode/cocos2d/cocos/winrt_8.1_props
/ReadCode/cocos2d/cocos/wp_8.1_props
# /ReadCode/cocos2d/docs
# /ReadCode/cocos2d/extensions
# /ReadCode/cocos2d/external/Box2D
# /ReadCode/cocos2d/external/bullet
# /ReadCode/cocos2d/external/chipmunk
# /ReadCode/cocos2d/external/clipper
# /ReadCode/cocos2d/external/ConvertUTF
# /ReadCode/cocos2d/external/curl
# /ReadCode/cocos2d/external/edtaa3func
# /ReadCode/cocos2d/external/flatbuffers
# /ReadCode/cocos2d/external/freetype2
# /ReadCode/cocos2d/external/glfw3
# /ReadCode/cocos2d/external/jpeg
# /ReadCode/cocos2d/external/json
# /ReadCode/cocos2d/external/linux-specific
# /ReadCode/cocos2d/external/png
# /ReadCode/cocos2d/external/poly2tri
# /ReadCode/cocos2d/external/rapidxml
# /ReadCode/cocos2d/external/recast
# /ReadCode/cocos2d/external/sqlite3
# /ReadCode/cocos2d/external/tiff
# /ReadCode/cocos2d/external/tinyxml2
# /ReadCode/cocos2d/external/webp
# /ReadCode/cocos2d/external/websockets
# /ReadCode/cocos2d/external/win10-specific
# /ReadCode/cocos2d/external/win32-specific
# /ReadCode/cocos2d/external/winrt_8.1-specific
# /ReadCode/cocos2d/external/wp_8.1-specific
# /ReadCode/cocos2d/external/xxhash
# /ReadCode/cocos2d/external/xxtea
# /ReadCode/cocos2d/external/zlib
# /ReadCode/cocos2d/licenses
/ReadCode/cocos2d/plugin
# /ReadCode/cocos2d/tools
# /ReadCode/proj.android
# /ReadCode/proj.android-studio
# /ReadCode/proj.ios_mac
# /ReadCode/proj.linux
# /ReadCode/proj.tizen
# /ReadCode/proj.win8.1-universal
# /ReadCode/proj.win10
/ReadCode/proj.win32
# /ReadCode/Resources






