# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# gitignore 的写法说明：
# # 表示注释
# * 表示全部


# /ReadCode/Classes
# /ReadCode/cocos2d
# /ReadCode/cocos2d/build
# /ReadCode/cocos2d/cmake
/ReadCode/cocos2d/cocos
/ReadCode/cocos2d/docs
/ReadCode/cocos2d/extensions
/ReadCode/cocos2d/external
/ReadCode/cocos2d/licenses
/ReadCode/cocos2d/plugin
/ReadCode/cocos2d/tools
/ReadCode/proj.android
/ReadCode/proj.android-studio
/ReadCode/proj.ios_mac
/ReadCode/proj.linux
/ReadCode/proj.tizen
/ReadCode/proj.win8.1-universal
/ReadCode/proj.win10
/ReadCode/proj.win32
/ReadCode/Resources






