# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# /ReadCode/Classes
/ReadCode/cocos2d
/ReadCode/proj.android
/ReadCode/proj.android-studio
/ReadCode/proj.ios_mac
/ReadCode/proj.linux
/ReadCode/proj.tizen
/ReadCode/proj.win8.1-universal
/ReadCode/proj.win10
/ReadCode/proj.win32
/ReadCode/Resources






